// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#button {
   background-color:#152D35;

   color: whitesmoke;
 }

 #placeholder {
   background-color: #E6E6E6;
   color: #864879;
 }
